@font-face {
  font-family: "Norse";
  src: url("norse/Norse.otf") format("opentype");
  /* font-weight: 400; */
}

@font-face {
  font-family: "Norse";
  src: url("norse/Norsebold.otf") format("opentype");
  /* font-weight: 700; */
}

.page-container {
    display: flex;

    /* font-family: "Norse";
    font-weight: 600; */
}

.form-header {
    font-weight: bold;
    font-family: Calibri, sans-serif;
    background-color: rgb(238, 234, 234);
    padding: 96px 0px 16px 32px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
}

.form-field {
    display: flex;
    flex-direction: column;
}